<suite name="Sample Test Suite" verbose="1" preserve-order="false">
<listeners>
      <listener class-name="org.uncommons.reportng.HTMLReporter"/>
      <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
  </listeners>
  <test name="Regression Test Suite"   >
    <packages>
      <package name="faceBookTest" />
      <package name="gMailTest" />
      <package name="youTubeTest" />
   </packages>
 </test>
</suite>